

<div class="card"> {{#each dbArticle}}
  <div class="row">
  <div class="col-md-6 col-xs-12">
  <div class="card-body"> 
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ summary }}</p>
    <a href={{ link }} target="_blank" class="link">Link to Article</a>
      <button data-id="{{_id}}" data-toggle="modal" type="button" class="btn btn-primary article-time">Add Note </button>
      <button data-id="{{_id}}" type="button" class="btn btn-primary note-time">See Notes! </button>
      <form action="/delete/{{_id}}" method="POST">
        <input name="delete-form" type="hidden" class="form-control"></input>
        <button type="submit" data-id="{{_id}}" class="btn btn-primary del-button">get this out of here</button>
      </form>
      
  <div class="all-notes">
      <h5>Notes</h5>
      <p class="all-of-the-notes"></p>
  </div>
</div>

<!--add note form-->
<div id="modal" class="modal">
        <div class="modal-content">
                <div class="modal-header">
                        <span id="close1" style="float:right">&times;</span>
                        <h2>Add a note!</h2>
                </div>
                <div class="modal-body">
                  <form>
                    <input type="text" id="note-input">
                    </input>
                  </form>
                </div>

            <div class="modal-footer">
              <button type="button" id="submit" class="btn btn-default"  data-id="{{_id}}">Submit</button>
              <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
</div>
</div>
</div>
</div>
{{/each}}